---
name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

env:
  APP_NAME: MarkdigExtensions
  APP_PACKAGE_PATH: './published'
  GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
  GITHUB_API_KEY: ${{ github.token }}

jobs:
  build_and_publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0'

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --no-restore --verbosity normal

      - name: Pack
        run: dotnet pack ${{ env.APP_NAME }}/${{ env.APP_NAME }}.csproj --output nuget-packages --configuration Release --include-symbols -p:SymbolPackageFormat=snupkg

      - name: Add Github registry
        run: dotnet nuget add source https://nuget.pkg.github.com/${{ env.GITHUB_REPOSITORY_OWNER }}/index.json --name github
        
      - name: Push to Github registry
        run: dotnet nuget push "**/*.nupkg" --source github --api-key ${{ env.GITHUB_API_KEY }} --skip-duplicate

      - name: NuGet.org registry Login
        uses: NuGet/login@v1
        with:
          user: ${{ env.GITHUB_REPOSITORY_OWNER }}

      - name: Push to NuGet.org registry
        run: dotnet nuget push "**/*.nupkg" --source https://api.nuget.org/v3/index.json --skip-duplicate
